* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  font-size: 18px;
  font-family: Verdana;
  margin: 20px 250px;
  padding: 0 50px;
  
}

figure{
  border: 5px solid black;
}

figcaption {
  margin: 0 0 15px 20px;;

}

h1{
  padding: 15px 0px;
  color: green;
}

.text{
   padding: 15px 0px;
}

.author {
  line-height: 1.5;
  background-color: red;
  color: white;
}

.image {
  width: 95%;
  height: 95%;
  margin: auto;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}
